.list {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  margin-bottom: 5px;
  gap: 8px;
}

.item {
  display: flex;
  font-weight: 500;
  height: 40px;
  width: 100%;
  max-width: 400px;
  padding: 0 15px;
  align-items: center;
  justify-content: space-between;
  background-color: #a3cfbb;
  border-radius: 5px;
  color: #212529;
  &:nth-child(even) {
    background-color: #055e52;
  }
}

.btn-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #212529;
  font-weight: bolder;
  border: none;
  border-radius: 15%;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
